DB_SERVER=Avipsa\SQLEXPRESS01
DB_NAME=AIProjectMentor
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUSTED_CONNECTION=yes
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=yes

OLLAMA_API_KEY= "d36eb18dcc6f49feadf3888f87b002b8.Gxgyji3ih2TtglRd9-ZGHwFx"
OLLAMA_HOST=https://ollama.com
OLLAMA_MODEL=gpt-oss:20b
OLLAMA_THINK_LEVEL=low